
@{
    ViewData["Title"] = "Создание населеного пункта";
}

<header class="header1">
    <strong>@ViewData["Title"]</strong>
</header>
<link href="~/css/city.css" rel="stylesheet" />
<form class="form-city"  asp-controller="City">
    <div class="items">
        <ul class="list">
            <li>
                <label class="labeinfo">Префикс населеного пункта</label>
                <input class="intput-1" name="PrefixLocality" required type="text" />
            </li>
            <li>
                <label class="labeinfo">Название населеного пункта</label>
                <input class="intput-1" name="NameLocality" required type="text" />
            </li>
            <li>
                <button id="btn_ok" type="submit" method="post" asp-action="Create">Сохранить</button>
                <button id="btn_cancel" type="submit" formnovalidate asp-action="Index">Отмена</button>
            </li>
        </ul>
    </div>
</form>