
@{
    ViewData["Title"] = "Изменение населеного пункта";
}
<link href="~/css/city.css" rel="stylesheet" />
<header class="header1">
    <strong>@ViewData["Title"]</strong>
</header>
<form class="form-city"  asp-controller="City">
    <div class="items">
        <input id="idcity" name="id" type="number" value="@Model.Id" />
        <ul class="list">
            <li>
                <label class="labeinfo">Префикс населеного пункта</label>
                <input class="intput-1" name="PrefixLocality" required type="text" value="@Model.PrefixLocality" />
            </li>
            <li>
                <label class="labeinfo">Название населеного пункта</label>
                <input class="intput-1" name="NameLocality" required type="text" value="@Model.NameLocality" />
            </li>
            <li>
                <button id="btn_ok" type="submit" method="post" asp-action="Edit">Сохранить</button>
                <button id="btn_cancel" type="submit" formnovalidate asp-action="Index">Отмена</button>
            </li>
        </ul>
    </div>
</form>
