@{
    ViewData["Title"] = "Analitica";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<header class="header1"><strong>Аналитика</strong></header>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>name</th>
            <th>official_name</th>
            <th>region</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
         </tr>
        
    </tbody>
</table>


