@{
    ViewData["Title"] = "Главная страница";
}
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Сохранённые данные</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <p>Здесь идет основной текст модального окна</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>
<header class="header1">
    <strong>Главная страница</strong>
</header>
<form class="form-address">
    <div class="items">
        <ul class="list">
            <li>
                <label class="labeinfo">Префикс населенного пункта</label>
                <input class="intput-1" type="text" />
            </li>
            <li>
                <label class="labeinfo">Название населенного пункта</label>
                <input class="intput-1" type="text" />
            </li>
            <li>
                <label class="labeinfo">Префикс улицы</label>
                <input class="intput-1" type="text" />
            </li>
            <li>
                <label class="labeinfo">Название улицы</label>
                <input class="intput-1" type="text" />
            </li>
            <li>
                <label class="labeinfo">Номер дома</label>
                <input class="intput-1" type="number" />
            </li>
            <li>
                <label class="labeinfo">Литера дома</label>
                <input class="intput-1" type="text" />
            </li>
            <li>
                <label class="labeinfo">Номер корпуса</label>
                <input class="intput-1" type="number" />
            </li>
            <li>
                <label class="labeinfo">Номер квартиры</label>
                <input class="intput-1" type="number" />
            </li>
            <li>
                <label class="labeinfo">Номер комнаты</label>
                <input class="intput-1" type="number" />
            </li>
            <li>
                <label class="labeinfo">Комментарий</label>
                <textarea class="intput-1" type="number"></textarea>
            </li>
            <li>
                <button id="btn_ok" type="button">Сохранить</button>
                <button id="btn_cancel" type="button">Отменить</button>
            </li>
        </ul>
        
    </div>
    <form>
        <textarea id="myTextarea" placeholder="Текст для редактирования" disabled></textarea>
        <button type="button" id="editButton">Редактировать</button>
    </form>
</form>




